#header {
    background-image: url("https://hailstate.com/images/2025/2/14/20240809_SOC_vs_ULM_Sunset_MM_1190.jpg");
    background-size: cover;
    height: 50%;
    color:beige;
    font-size: 2 rem;
    border-radius: 0 0 1.2em 1 1.2em; 

    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40%;
}
p {
    color:rgb(176, 14, 14)
}
h2 {
    color: rgb(35, 75, 177)
}
h1 {
    color: rgb(38, 180, 173);
}
body {
    background-color:beige;
    margin: 0;
}
.make-red {
    color:rgb(176, 14, 14);
}
h3 {
    color:rgb(35, 75, 177);
}

.navbar {
    background-color: aqua;
    display: flex;
    justify-content: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 5em;
}

.nav-links li a {
    text-decoration: none;
    color:rgb(35, 75, 177);
    font-size: 1.1rem;
    transition: 1s;
    padding: 0.5em 1.0em;
    border-radius: 0.5em;
}

.nav-links li a:hover {
    background-color: white;
}

.title {
    text-align: center;
    padding: 1em;
}

.current {
    text-decoration: underline dotted rgb(35, 75, 177);
}

.accordion-header {
    width: 100%;
    background-color: rgb(74, 214, 214);
    border: none;
    padding: 1em 1em 1em 3em;
    text-align: left;
    font-size: 1.1rem;
    color: white;
    cursor: pointer;
    transition: 0.8s;
}

.accordion-header:hover {
    background-color:rgb(61, 176, 176);
}

.accordion-content {
    display: none;
}